#aside_feed .tree.sticky {
	position: fixed;
	top: 0; bottom: 0;
	left: 0;
	margin-top: 0;
	overflow-y: auto;
}

@media(max-width: 840px) {
	/* No effect on mobile */
	#aside_feed .tree.sticky {
		position: static;
	}
}
